:root{
    --text:#868687;
    --background:#ffffff;
    --bordercolor:#000000;
    --min_width:100px;
    --min_height_banner:20px;
    --radius:30px;
}
@keyframes horizontalscroll {
    0%{
        background-position: left;
    }
    50%{
        background-position: right;
    }
    100%{
        background-position: left;
    }
}
@keyframes wabble{
    0%{
        transform: rotate(0deg);
    }
    33%
    {
        transform: rotate(-10deg);
    }
    66%
    {
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes gradienttextanimation{
    0%{
        background-position: left;
        opacity: 20%;
        transform: scale(1.1);
    }
    50%{
        background-position: right;
        opacity: 100%;
        transform: scale(0.9);
    }
    100%{
        background-position: left;
        opacity: 20%;
        transform: scale(1.1);
    }
}
@keyframes fade{
    0%{
        opacity: 10%;
    }
    50%{
        opacity: 50%;
    }
    100%{
        opacity: 20%;
    }
}
.icons{
    transition: 1s;
}
.icons:hover{
    transition: 0.5s;
    transform: scale(1.2);
}
.gradienttext{
    transition:1s;
}
.gradienttext:hover
{
    transition: 1s;
    background-image: linear-gradient(90deg,lightgreen,orange,lightgreen);
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: gradienttextanimation;
    animation-iteration-count: infinite;
    animation-duration:3s;
    animation-timing-function: ease-in-out;
}

body{
    transition: 1s;
    min-width:fit-content;
    min-width: fit-content;
}

.Container{
    transition: 1s;
    overflow: hidden;
    display:block;
    width: 95vw;
    margin: auto;
    justify-content: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border-color: var(--bordercolor);
    border-radius: var(--radius);
}

.Banner{
    background-color: white;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:2vh;
    width: 95vw;
    min-width: fit-content;
    height: 7vh;
    min-height:60px;
    border-style: solid;
    border-color: var(--bordercolor);
    border-radius: 50px;
    z-index: 3;
}

.logo{
    transition: 1s;
    margin-left: 10px;
    margin-top: 2px;
}

.cart
{
    transition: 1s;
    margin-right: 10px;
    animation-name: wabble;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.bannerText
{
    transition: 1s;
    font-size: 40px;
}

.Ads{
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:8vh;
    width: 95vw;
    min-width: var(--min_width);
    border-color: var(--bordercolor);
    border-radius: var(--radius);
}
.adcontainer{
    transition: 1s;
    display:block;
    width: 95vw;
    min-width: var(--min_width);
    margin: auto;
    min-height: 20px;
    background-image: url(res/marquepng.svg);
    background-size: 150%;
    background-repeat: repeat-x;
    border-color: var(--bordercolor);
    border-radius: var(--radius);
    animation-name: horizontalscroll;
    animation-iteration-count: infinite;
    animation-duration: 40s;
    animation-timing-function: ease-in-out;
}
.inneradcontainer{
    transition: 1s;
    transform: scale(1.1);
    margin-top: 30px;
    display: block;
    text-align: center;
    
}
.adstext{
    transition: 1s;
    font-size: 4vw;
}
.adsheading{
    transition: 1s;
    font-size: 6vw;
    font-weight: solid;
}
.inneradcontainer2{
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutbutton
{
    transition: 1s;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: var(--radius);
    border-color: black;
    border-style: solid;
    z-index: 2;
}
.aboutbutton:hover{
    transition: 0.5s;
    transform: scale(1.1);
    background-color:lightgreen;

}

.Products{
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 95vw;
    height:fit-content;
    border-radius: var(--radius);
}

.gridView
{
    transition: 1s;
    display: grid;
    /* max-width: fit-content;
    max-height: fit-content; */
    grid-template-columns: auto auto auto;
    row-gap: 5px;
    column-gap: 5px;
}

.product{
    transition: 1s;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width:30vw;
    height: 35vw;
    border-radius: var(--radius);
}

.product:hover{
    transition: 0.5s;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    z-index: 1;
}
.productImg
{
    transition: 1s;
    border-radius: var(--radius);
    height: 30vw;
}
.productImgs{
    transition: 1s;
    position: relative;
    width: 100%;
}
.image{
    transition: 1s;
    width: 100%;
    border-radius: var(--radius);
}
.frontimage{
    transition: 1s;
    position: absolute;
    left: 0px;
}
.frontimage:hover{
    transition: 0.5s;
    opacity: 0%;
}
.OrderButton{
    transition: 1s;
    background-color: white;
    border-color: black;
    border-radius: var(--radius);
    border-style: solid 0.5px;
}



.About{
    transition: 1s;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    width: 95vw;
    min-height: var(--min_width);
    border-radius: var(--radius);
}
.heading{
    transition: 1s;
    text-align: center;
    font-size:20px;
    font-style: solid;
}

.socials
{
    transition: 1s;
    padding-top: 20px;
    display: flex;
    justify-content:space-around;

}
.discriptions
{
    transition: 1s;
    padding-top: 20px;
}
.links
{
    transition: 1s;
    text-decoration: none;
    color:black
}
