:root{
    --text:#868687;
    --background:#ffffff;
    --bordercolor:#000000;
    --min_width:100px;
    --min_height_banner:20px;
    --radius:30px;
}
@keyframes horizontalscroll {
    0%{
        background-position: left;
    }
    50%{
        background-position: right;
    }
    100%{
        background-position: left;
    }
}

body{
    background-color:white;
    min-width:fit-content;
    min-width: fit-content;
}

.Container{
    display:block;
    width: 95vw;
    background-color:white;
    margin: auto;
    justify-content: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border-color: var(--bordercolor);
    border-radius: var(--radius);
}

.Banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color:white;
    top:2vh;
    width: 95vw;
    min-width: fit-content;
    height: 7vh;
    min-height:60px;
    border-style: solid;
    border-color: var(--bordercolor);
    border-radius: 50px;
}

.logo{
    margin-left: 10px;
    margin-top: 2px;
}

.cart
{
    margin-right: 10px;
}

.bannerText
{
    font-size: 40px;
}

.Ads{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:8vh;
    width: 95vw;
    min-width: var(--min_width);
    border-color: var(--bordercolor);
    border-radius: var(--radius);
}
.adcontainer{
    display:block;
    width: 95vw;
    min-width: var(--min_width);
    margin: auto;
    min-height: 20px;
    background-image: url(marquepng.svg);
    background-blend-mode: difference;
    background-size: 150%;
    background-repeat: repeat-x;
    border-color: var(--bordercolor);
    border-radius: var(--radius);
    animation-name: horizontalscroll;
    animation-iteration-count: infinite;
    animation-duration: 40s;
    animation-timing-function: ease-in-out;
}
.inneradcontainer{
    margin-top: 30px;
    display: block;
    text-align: center;
    
}
.adstext{
    font-size: 4vw;
}
.adsheading{
    font-size: 6vw;
    font-weight: solid;
}
.inneradcontainer2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutbutton
{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: var(--radius);
    border-color: black;
    border-style: solid;
}

.Products{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 95vw;
    height:fit-content;
    border-radius: var(--radius);
}

.gridView
{
    display: grid;
    /* max-width: fit-content;
    max-height: fit-content; */
    grid-template-columns: auto auto auto;
    row-gap: 5px;
    column-gap: 5px;
}

.product{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width:30vw;
    height: 35vw;
    border-radius: var(--radius);
}

.productImg
{
    border-radius: var(--radius);
    height: 30vw;
}
.OrderButton{
    border-radius: var(--radius);
    border-style: solid;
    background-color: white;
}



.About{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    background-color:white;
    margin-top: 5px;
    width: 95vw;
    min-height: var(--min_width);
    border-radius: var(--radius);
}
.heading{
    text-align: center;
    font-size:20px;
    font-style: solid;
}

.socials
{
    padding-top: 20px;
    display: flex;
    justify-content:space-around;

}
.discriptions
{
    padding-top: 20px;
}
.links
{
    text-decoration: none;
    color:black
}
