:root{
    --text:#868687;
    --background:#ffffff;
    --bordercolor:#000000;
    --min_width:100px;
    --min_height_banner:20px;
    --radius:30px;
}

body{
    background-color:white;
    min-width:fit-content;
    min-width: fit-content;
}

.container
{
    padding-top: 10px;
    background-color:white;
    width: 90vw;
    display: block;
    margin: auto;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brandlogo{
    display: flex;
    align-items: center;
}
.logo{
    width: 60px;
}
.bannerText
{
    font-size: 30px;
    margin-left: 3px;
}

.heading{
    text-align:center;
    font-size: 18px;
    color:black;
    font-style: solid;
}
.title
{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 25px;
}
.productCard
{
    margin-top: 10px;
    width: 90vw;
    height: 30vh;
    border: solid black;
    border-radius: var(--radius);
}
.calculations
{
    display: flex;
    justify-content: space-between;
    width: 80vw;
}
.total
{
    display:inline-block;
    margin-top: 15px;
    width: 40vw;
    border-radius: var(--radius);
}
.text{
    margin-left: 20px;
    font-size: 18px;
}
.button
{
    margin-top:15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30px;
    width: 100%;
    border-style: solid;
    border-color: black;
    border-radius: var(--radius);

}

.about{
    padding-top: 90px;
    display: flex;
    justify-content:space-between;
    width:100%;
    margin: auto;
}

.socials
{
    padding-top: 20px;
    display: flex;
    justify-content:space-around;
}

.discriptions
{
    padding-top: 20px;
}

.rules
{
    margin-left: 10px;
    font-size: 15px;
}
.links
{
    text-decoration: none;
    color:black
}
